<ion-view title="Sensors Configuration" id="page1" style="">
    <ion-content class="has-header" overflow-scroll="true">



                <div ng-repeat="(device_key, device) in externalDevicesTemp">


                        <h2 id="page-heading1" class="device-name">{{device.name }}</h2>

                    <div ng-repeat="(sensor_key, sensor) in device.nodes">
                        <ion-toggle toggle-class="toggle-calm"
                                    ng-model="externalDevicesTemp[device_key].nodes[sensor_key].nodes[0].isEnabled"
                                    ng-change="toggleSensor('externalDevicesTemp',device_key,sensor_key )">
                            {{sensor.name}}
                        </ion-toggle>

                        <div class="item item-input item-select" for=""
                               ng-show="externalDevicesTemp[device_key].nodes[sensor_key].nodes[0].isEnabled">
                            <label for="{{device_key+'_'+sensor_key}}">Sample Duration</label>
                            <select name="units"
                                    ng-model="selectedUnits[device_key][sensor_key]"
                                    ng-options="unit.id as unit.label for unit in units "
                                    ng-change="changeUnit(device_key,sensor_key )">
                            </select>
                            <input style="text-align: right" placeholder="" type="number"
                                   name="{{device_key+'_'+sensor_key}}"
                                   ng-init="initTempValue(device_key,sensor_key)"
                                   ng-model="tempValues[device_key][sensor_key]"
                                   ng-change="changeValue(device_key,sensor_key )">
                        </div>
                        <input style="text-align: right" placeholder="" type="hidden"
                               ng-model="externalDevicesTemp[device_key].nodes[sensor_key].nodes[0].samplingDuration"
                               ng-change="toggleSensor('externalDevicesTemp',device_key,sensor_key )">
                    </div>

                </div>
                <button ng-click="back()" style="width: 50%; clear: none; float:left;" class="button  button-block">Back</button>
                <button ng-click="saveConfiguration()" style="width: 50%; clear: none; float:left;"  class="button button-positive  button-block">Save</button>


    </ion-content>
</ion-view>