Logs:
<ion-checkbox ng-repeat="(category, value) in categoryFilters" ng-model="categoryFilters[category]">{{category}}</ion-checkbox>

Sensors data:
<ion-checkbox ng-repeat="(category, value) in subCategoryFilters" ng-model="subCategoryFilters[category]" disabled="{{ categoryFilters.data ? 'enabled' : 'disabled'}}">{{category}}</ion-checkbox>