<div class="list">
  <div class="item item-button-right">
    Refresh
    <button class="button button-light" ng-click="getAvailableExternalSensors()">
      <i class="icon ion-loop"></i>
    </button>
  </div>
  <div class="item item-checkbox" ng-repeat="avlSensor in availableExternalSensors">
    <label class="checkbox">
      <input type="checkbox" ng-model="avlSensor.selected">
    </label>
    {{avlSensor.sensor.sensorName}}
  </div>
</div>