<div class="list popup-sensors">

    <div ng-repeat="(sensor_key, avlSensor) in availableInternalSensors">
        <ion-toggle toggle-class="toggle-calm"
                    ng-model="avlSensor.selected"
                    ng-change="">
            {{avlSensor.sensor.sensorName}}
        </ion-toggle>

        <div class="" >

            <ion-item class="internal-sensor-property item-select item-input"
                      ng-repeat="(name, property) in internalSensorsConfig[avlSensor.sensor.sensorName]"
                      ng-switch="typeof(property)">

                <div ng-switch-when="number" class="text-input-field">
                    <label>{{name}}</label>
                    <select name="units"
                            ng-model="selectedUnits[avlSensor.sensor.sensorName][name]"
                            ng-options="unit.id as unit.label for unit in units "
                            ng-change="changeUnit(avlSensor.sensor.sensorName,name )"
                            ng-init="initUnitChooser(avlSensor.sensor.sensorName,name)"
                            ng-enabled="avlSensor.selected">
                    </select>
                    <input class="input" style="text-align: right; margin-right: 50px;" placeholder="" type="number"
                           ng-model="tempValues[avlSensor.sensor.sensorName][name]"
                           ng-change="changeValue(avlSensor.sensor.sensorName,name )"
                           ng-init="initTempValue(avlSensor.sensor.sensorName,name)"
                           ng-enabled="avlSensor.selected">
                </div>

                <div ng-switch-when="boolean">
                    <ion-toggle toggle-class="toggle-calm"
                                ng-model="internalSensorsConfig[avlSensor.sensor.sensorName][name]"
                                ng-change="">
                        {{name}}
                    </ion-toggle>
                </div>


            </ion-item>
        </div>

        <input style="text-align: right" placeholder="" type="hidden"
               ng-model="externalDevicesTemp[device_key].nodes[sensor_key].nodes[0].samplingDuration"
               ng-change="toggleSensor('externalDevicesTemp',device_key,sensor_key )">
    </div>

</div>