<div class="list">
    <div class="item item-button-right">
        Refresh
        <button class="button button-light" ng-click="getAvailableExternalSensors()">
            <i class="icon ion-loop"></i>
        </button>
    </div>

    <div class="list">

        <div class="item">
            <div ng-repeat="(device_key, device) in externalDevicesTemp">
                <h3>{{device.name }}</h3>
                <div ng-repeat="(sensor_key, sensor) in device.nodes">
                <div class="item item-checkbox" >
                    <label class="checkbox">
                        <input type="checkbox"  ng-model="externalDevicesTemp[device_key].nodes[sensor_key].nodes[0].isEnabled" ng-change="toggleSensor('externalDevicesTemp',device_key,sensor_key )">
                    </label>
                    {{sensor.name}}
                </div>
                <label class="item item-input" id="page-input2">
                    <input style="width: 100%" placeholder="" type="text" ng-model="externalDevicesTemp[device_key].nodes[sensor_key].nodes[0].samplingDuration"  ng-change="toggleSensor('externalDevicesTemp',device_key,sensor_key )" >
                </label>
                </div>

            </div>
            {{externalDevices}}
        </div>
    </div>


</div>