<ion-view view-title="Monitor">
    <ion-content class="padding monitor">
        <div class="buttonRow">
            <button ng-disabled="" class="button button-light {{ (started || (noSensorsSelected && ( metaWearConnectionStatus == 'DISCONNECTED'  || (metaWearConnectionStatus != 'DISCONNECTED' && (metaWearStatus != 'READY' && metaWearStatus != 'OPERATIONAL') )))) ? 'disabled':'enabled' }}"
                     ng-click="startMonitoring()">Start
            </button>
            <button class="button button-light" ng-click="stopMonitoring()">Stop</button>
            <button class="button button-light" ng-click="clearMonitoring()">Clear</button>
            <button ng-if="started && monitoringChart.length > 0" class="button button-outline button-positive"
                    ng-click="addNewMarker()">Marker
            </button>
        </div>
        <div class="list">
            <div class="item item-divider">Status</div>
            <div class="item">
                <div>Monitoring: {{!monitoringStatus ? 'Empty' : monitoringStatus}}</div>
                <div>Wear: <span
                        style="color: {{wearStatus == 'CONNECTED' ? (dataTransferring.wear ? 'green' : 'blue') : 'red'}}">{{dataTransferring.wear ? 'transferring  data...' : wearStatus}}</span>
                </div>
                <div>MetaWear: <span
                        style="color: {{metaWearConnectionStatus == 'CONNECTED' ? (dataTransferring.metaWear ? 'green' : 'blue') : 'red'}}">{{dataTransferring.metaWear ? 'transferring data...' :  (metaWearConnectionStatus )}}{{(!dataTransferring.metaWear && ( typeof(metaWearStatus) != "undefined") && metaWearStatus != "")  ? (" - " + metaWearStatus) : ""}} </span>
                </div>
            </div>
        </div>

        <div class="list">
            <div class="item item-divider">Chart</div>
            <div class="item">
                <div ng-if="monitoringChart.length == 0">Empty</div>
                <div ng-repeat="(key, chart) in monitoringChart" class="separatedItems">
                    <div class="accordion-tab-head">{{::chart.name}} <span ng-click="toggleGraph(key)">{{chart.visible ? 'Close' : 'Open'}}</span></div>
                    <div ng-if="chart.visible" class="accordion-tab-content" data-key="{{::key}}">
                        <canvas ng-attr-id="{{::chart.name+'_chart'}}"  class="chart chart-line" data="chartData[chart.name]"
                                labels="chartLabels[chart.name]" legend="true" series="chartSeries[chart.name]"
                                colours="chartColours[chart.name]" options="chartOptions[chart.name]" click="onClick"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="list" ng-if="debug.enableLogs">
            <div class="item item-divider">Log
                <ul class="section-menu" style="float: right; display: inline">
                    <li ng-click="scrollLogToTop('monitor-logs')">Top</li>
                    <li ion-datetime-picker ng-model="filters.goto" time seconds>Go to</li>
                    <li ng-click="showCategoryFiltersPopup()">Filters</li>
                </ul>

            </div>

            <div class="item log-section monitor">

                <div ng-if="monitoringLog.length == 0">Empty</div>
                <ion-scroll direction="y" style=" height: 300px" class="" delegate-handle="monitor-logs"
                            on-scroll="gotScrolled('monitor-logs')">

                    <ul ng-repeat="log in monitoringLogFiltered" data-timestamp="{{log.timestamp}}"
                        class="separatedItems" id="{{log.timestamp}}"
                        style="sdisplay: {{log.category != 'data' ? (categoryFilters[log.category] ? 'block' : 'none') : (subCategoryFilters[log.sensor] ? 'block' : 'none' )}}">
                        <li><span><i>{{log.timestamp | date:'dd-MMM-yyyy HH:mm:ss'}}</i>: <u>{{log.sensor ? log.sensor :
                            log.message}}</u></span></li>

                        <li ng-repeat="(key, value) in log">
                            <span ng-if="key !== 'sensor' && key !== 'timestamp' && key !== 'category' && key !== 'message'">{{key}}: {{value}}</span>
                        </li>
                    </ul>


                </ion-scroll>
            </div>


        </div>
    </ion-content>
</ion-view>
