<ion-view view-title="History">
    <ion-content class="padding">
        <div class="buttonRow">
            <button class="button button-large button-light {{working ? 'loading-btn' : '' }}" ng-click="refreshData()"
                    ng-disabled="working">Refresh
            </button>
        </div>
        <ion-toggle ng-model="filters.todaysResults" ng-change="changeTodaysResults()" class="separatedLists">Today's
            results
        </ion-toggle>

        <div class="list">
            <div class="item item-divider">Session</div>
            <div class="item">

                <select name="session" id="selectedSession" ng-model="selectedSession" ng-change="changeSession()"
                        ng-disabled="working">
                    <option value="all">All</option>
                    <option ng-repeat="session in sessions" value="{{::session.id}}">{{::session.value.sessionStart |
                        date:'yyyy-MM-dd HH:mm:ss '}}
                    </option>
                </select>

            </div>
        </div>

        <div class="list">
            <div class="item item-divider">Chart</div>
            <div class="item">
                <div ng-if="monitoringChart.length == 0">Empty</div>
                <div ng-repeat="chart in monitoringChart" class="separatedItems">
                    <span><u>{{chart.name}}</u></span>
                    <canvas ng-attr-id="{{chart+'_chart'}}" class="chart chart-line" data="chartData[chart.name]"
                            labels="chartLabels[chart.name]" legend="true" series="chartSeries[chart.name]"
                            colours="chartColours[chart.name]" options="chartOptions[chart.name]" click="onClick"></canvas>
                </div>
            </div>
        </div>
        <div class="list">
            <div class="item item-divider">Log</div>
            <div class="item">
                <div ng-if="monitoringLog.length == 0">Empty</div>
                <div ng-if="monitoringLog.length > 0">
                    <ul ng-repeat="log in monitoringLog | limitTo:monitoringLogLimit" class="separatedItems">
                        <li><span><u>{{::log.sensor}}</u></span></li>
                        <li><span>{{::log.timestamp | date:'dd-MMM-yyyy HH:mm:ss'}}</span></li>
                        <li ng-repeat="(key, value) in log">
                            <span ng-if="key !== 'sensor' && key !== 'timestamp'">{{::key}}: {{::value}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
