<ion-view view-title="Log">
    <ion-content class="padding log">
        <div class="list">
            <div class="item item-divider">Log
                <ul class="section-menu" style="float: right; display: inline">
                    <li ng-click="scrollLogToTop('logs')">Top</li>
                    <li ion-datetime-picker ng-model="logFilters.goto" time seconds>Go to</li>
                    <li ng-click="showCategoryFiltersPopup();">Filters</li>
                </ul>

            </div>
            <div class="item wordwrap log-section logs">
                <div ng-if="logArray.length == 0">Empty</div>
                <ion-scroll direction="y" style=" height: 300px" class="" delegate-handle="logs"
                            on-scroll="gotScrolled('logs')">
                    <ul ng-repeat="log in LogFiltered track by $index " class="separatedItems" data-timestamp="{{::log.created}}" id="{{::log.created}}"
                        style="displayAA:{{ categoryFilters[log.category] ? 'block' : 'none' }}">
                        <li><span><i>{{::log.created | date:'dd-MMM-yyyy HH:mm:ss' }}:</i> {{::log.message}}</span></li>
                    </ul>
                </ion-scroll>
            </div>
        </div>
    </ion-content>
</ion-view>