<ion-view view-title="Settings">
    <ion-content class="padding">
        <div class="list">
            <div class="item item-divider biggerDivider">
                <span>Device</span>
            </div>
            <div class="item">
                <div ng-if="!deviceInfo">Empty</div>
                <table ng-if="deviceInfo">
                    <tr>
                        <td>Maker:</td>
                        <td class="separatedTds">{{::deviceInfo.manufacturer}}</td>
                    </tr>
                    <tr>
                        <td>Model:</td>
                        <td class="separatedTds">{{::deviceInfo.model}}</td>
                    </tr>
                    <tr>
                        <td>Platform:</td>
                        <td class="separatedTds">{{::deviceInfo.platform}}</td>
                    </tr>
                    <tr>
                        <td>Version:</td>
                        <td class="separatedTds">{{::deviceInfo.version}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div ng-if="wearExists" class="list">
            <div class="item item-divider biggerDivider">
                <span>Wear</span>
            </div>
            <div class="item">
                <div>Android wear: {{!wearConnectionStatus ? 'Not Active' : wearConnectionStatus}}</div>
                <div>MetaWear: {{!metaWearConnectionStatus ? 'Not Active' : metaWearConnectionStatus}}</div>
            </div>
        </div>
        <div class="list">
            <div class="item item-divider biggerDivider">
                <span>Profile</span>
            </div>
            <div class="item">
                <div>{{!username ? 'Empty' : 'Username: ' + username}}</div>
            </div>
        </div>
        <div class="list">
            <div class="item item-divider biggerDivider">
                <span>Internal sensors</span>
                <button ng-if="!isMonitoringOn" class="button button-small icon ion-plus-round"
                        ng-click="addInternalSensor()"></button>
            </div>
            <div class="item">
                <div ng-if="internalSensors.length == 0">Empty</div>
                <div ng-repeat="iSensor in internalSensors">
                    {{'Sensor ' + ($index + 1) + ': ' + iSensor.sensorName}}
                </div>
            </div>
        </div>
        <div class="list">
            <div class="item item-divider biggerDivider">
                <span>External devices</span>
                <button style="display: none" ng-if="!isMonitoringOn" class="button button-small icon ion-plus-round"
                        ng-click="addExternalSensor()"></button>
                <button ng-if="!isMonitoringOn" class="button button-small icon ion-plus-round"
                        ng-click="sendMessageToMetaWear('getDevicesList')"></button>

            </div>
            <div class="item">
                <div style="display: none" ng-if="externalSensors.length == 0">Empty</div>
                <div style="display: none" ng-repeat="eSensor in externalSensors">
                    {{'Sensor ' + ($index + 1) + ': ' + eSensor.sensorName}}
                </div>
                <div>
                    {{(metaWearConnectionStatus != 'DISCONNECTED' && metaWearConnectionStatus != '')? 'MetaWear':
                    'Empty'}}
                </div>

            </div>
        </div>

        <div class="list">
            <div class="item item-divider biggerDivider">
                <span>External sensors</span>
                <button ng-if="!isMonitoringOn && devicesConfiguration"
                        onclick="location.href='#/configuration';"
                        class="button button-small icon ion-edit">
                </button>
            </div>
            <div class="item">
                <div ng-repeat="device in externalDevices">
                    <h3>{{device.name }}</h3>
                    <ul>
                        <li ng-repeat="sensor in device.nodes">
                            <lable style="color: {{sensor.nodes[0].isEnabled ? '#000000' : '#878787'}}">
                                {{::sensor.name}}
                            </lable>
                        </li>
                    </ul>
                </div>


            </div>
        </div>

        <div class="list">
            <div class="item item-divider biggerDivider">
                <span>Debug</span>
            </div>
            <div class="item">
                <div><label><input type="checkbox" ng-model="debug.enableLogs"> Enable logs on monitor page</label>
                </div>
                <div><label><input type="checkbox" ng-model="debug.transferingData"> Create CSV on session stop</label>
                </div>
                <div>
                    <button style="display: none" ng-click="simulateNativeCrash()">Crash</button>
                </div>
                <button ng-click="shareLogs()">Share latest session logs</button>
                <div class="hide0">
                    <p ng-click="getDeviceCapabilities()">getDeviceCapabilities</p>
                    <p ng-click="getConnectionState()">getConnectionState</p>
                    <p ng-click="initializeWear()">initializeWear</p>
                    <p ng-click="checkMetaWearStates()">checkMetaWearStates</p>
                </div>
                <br>
            </div>
        </div>
    </ion-content>
</ion-view>