<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Monitor Tab -->
  <ion-tab title="Monitor" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/monitor">
    <ion-nav-view name="tab-monitor"></ion-nav-view>
  </ion-tab>

  <!-- History Tab -->
  <ion-tab title="History" icon-off="ion-ios-refresh-outline" icon-on="ion-ios-refresh" href="#/tab/history">
    <ion-nav-view name="tab-history"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

  <!-- Log Tab -->
  <ion-tab ng-if="isDevelopmentMode" title="Log" icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper" href="#/tab/log">
    <ion-nav-view name="tab-log"></ion-nav-view>
  </ion-tab>

</ion-tabs>