.buttonRow {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.buttonRow > .button {
    margin-right: 5%;
}

.buttonRow > .button:last-child {
    margin-right: 0;
}

.separatedItems {
    margin-bottom: 5px;
}

.separatedItems li {
    white-space: normal;
    display: block;
}

.separatedLists {
    margin-bottom: 20px;
}

.biggerDivider {
    min-height: 50px;
}

.biggerDivider > span {
    vertical-align: middle;
    margin-top: 5px;
    display: inline-block;
}

.biggerDivider > button {
    float: right;
}

.separatedTds {
    padding-left: 5px;
}

.wordwrap {
    white-space: normal;
}

.time-picker-btn {
    width: 38%;
    float: left;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-right: 1%;
}

.filters_settings button {
    float: left;
    width: 22%;
}

.filters_settings {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    width: 100%;
}

.filters_settings {
    display: none;
    z-index: 1;
}

span i {
    color: #595858;
}

.filters-categories {
    width: 100%;
    float: left;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-right: 1%;
    margin-bottom: 4px;
}

.filters-categories span {
    float: left;
    margin-right: 6px;

}

.section-menu {
    float: right;
    display: inline;
}

.section-menu li {
    float: left;
    padding: 0 8px;
}

.loading-btn {
    background-image: url("../img/spin.gif");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: right 14px center;
    padding-right: 50px !important;
    color: #ccc !important;
}

.item.item-input.item-select input {
    margin-right: 59px !important;
    padding-right: 15px !important;
}

.popup-sensors .item.item-input.item-select input {
    margin-right: 42px !important;
}

.popup-sensors .text-input-field {
    width: 100%;
}

.item.item-input.item-select select {
    padding: 0 33px 0 0px !important;
}

.device-name {
    font-size: 30px;
    margin-top: 10px !important;
    margin-left: 15px;
}

.internal-sensor-property {

    padding: 0px;
}

.internal-sensor-property .text-input-field {

    padding: 10px 16px;
}

.internal-sensor-property .input {
    text-align: right;
    float: right;
    width: 67px;
    padding: 0;
    height: auto;
    padding-top: 4px;
}

ion-item.internal-sensor-property .item.item-toggle.toggle-small {
    padding-top: 12px;
    padding-bottom: 12px;
}

ion-item.internal-sensor-property .toggle-small.item-toggle .toggle {
    top: 16px !important;
}

ion-item.internal-sensor-property .item-toggle span {
    font-size: 14px;
}

.accordion-tab-head {
    background-color: rgb(237, 237, 237);
    padding: 10px;
    margin: auto -18px;
}

.accordion-tab-head span {
    float: right;
}

.chart-container {
    padding-top: 15px;
}